/* body{
    background-color: rgb(52, 52, 95);
    justify-content: center;
    display: flex;
    font-family: Segoe UI;
}
.calculator{
    padding-top: 12.2rem;
    
}
span{
    color: white;
    
    font-size: 1.8rem;
}

.btn{
    justify-content: space-around;
    display: flex;
}
#display{
 height: 8.8rem;
 width: 30.5rem;
 background-color: rgb(17, 17, 50);
 padding-top: 5px;
 font-weight: 550;
 font-size: 3rem;
 color: white;
 line-height: 4.3rem;
 text-align: right;
}
.calc{
   padding: auto;
   
    height: 37.5rem;
    width: 30.5rem;
    background-color: rgb(17, 17, 50);
   justify-items: flex-start;
    
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #241a4b;
    font-family: Segoe UI;
}

.calculator {
   
    /* background-color: rgb(17, 17, 77);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 260px; */
    display: block;
}

#display {
    /* width: 100%;
    height: 40px;
    margin-bottom: 10px;
    text-align: right;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px; */

    height: 6.8rem;
    width: 30.7rem;
    background-color: rgb(17, 17, 50);
   padding: 10px;
    font-weight: 550;
    font-size: 3rem;
    color: white;
    line-height: 4.3rem;
    text-align: right;
    border-radius: 12px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 12px;
    margin-top: 40px;
    gap: 10px;
    height: 37.5rem;
    width: 30.7rem;
    background-color: rgb(17, 17, 50);
    justify-content: space-around;
    align-items: center;
    padding-left: 12px;
    /* display: flex; */
}


button {
    height: 3.75rem;
    width: 6.25rem;
    padding: 15px;
    font-size: 18px;
    border: none;
    background-color: rgba(234, 227, 219, 1);
    border-radius: 12px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    font-size: 25px;
justify-content: space-around;
    align-items: center;
    display: flex;
   
    
    
}

button:hover {
    background-color: #835252;
}

button:active {
    background-color: #d38080;
}
#reset{
    
    grid-column: span 2;
    width: auto;
}
.equal{
    background-color: red;
}
.light{
    background-color: #4e3f88;
}


  